apiVersion: v1
kind: ServiceAccount
metadata:
  name: prometheus
  namespace: ayan-warsame
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: prometheus
rules:
- apiGroups: [""]
  resources:
  - services
  - pods
  verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: prometheus
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: prometheus
subjects:
- kind: ServiceAccount
  name: prometheus
  namespace: ayan-warsame
---
apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: ayan-warsame-prometheus
  namespace: ayan-warsame
  labels:
    release: prometheus
spec:
  replicas: 1
  serviceAccountName: prometheus
  serviceMonitorSelector:
    matchLabels:
      release: prometheus
  ruleSelector:
    matchLabels:
      release: prometheus
  retention: 7d
  alerting:
    alertmanagers:
    - namespace: ayan-warsame
      name: alertmanager
      port: web
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
  namespace: ayan-warsame
spec:
  type: ClusterIP
  ports:
  - port: 9090
    targetPort: 9090
  selector:
    prometheus: ayan-warsame-prometheus
