apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: frontend-ingress
  namespace: ayan-warsame
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/priority: "1000"
    nginx.ingress.kubernetes.io/server-alias: "ayan-warsame.capstone.company.com"
spec:
  ingressClassName: nginx
  rules:
  # Only accept requests with the specific hostname
  - host: ayan-warsame.capstone.company.com
    http:
      paths:
      - path: /grafana
        pathType: Prefix
        backend:
          service:
            name: grafana-service
            port:
              number: 3000
      - path: /
        pathType: Prefix
        backend:
          service:
            name: frontend-service
            port:
              number: 8080
